<template name="timeUnit">

	<div id="timeUnitValues" class="form-group">
			<li><span>Activity: {{activity}}</span></li>
			<li><span>Minutes: {{minutes}}</span></li>
			<li><span>Priority: {{priority}}</span></li>
	</div>

		{{#if currentUser}}  <!-- el boton de borrar solo aparece si se es usuario registrado-->
	<div class="form-group">
			<div class="padding5">
				<span class="padding5">
					<input type="button" id="delete" value="Delete"/>
				</span>
			</div>
	</div>
		{{/if}}

</template>
