<template name="paginaDerecha">
  <div class="padding-top-20">
    <h3>Página Derecha</h3>
    <span>
    <br/>
    Esta subpágina sirve simplemente para ver cómo funciona la función "Router" de Meteor.
    <br/><br/>
    En la carpeta "lib" del proyeto de Meteor hay un fichero llamado "router.js", en el que
    se puede apreciar cómo se hace el enrutamiento con Meteor: con este sistema se gana
    seguridad porque el path que se le muestra al visitante en su barra de direcciones
    no es el path real del archivo donde esta el documento html que sirve para que el navegador
    construya la pagina.
    <br/><br/>
    <a href="/">Volver atrás</a>
  </span>
  </div>
</template>
